.fundo{
	width: 340px;
	background: #5a160c;
	height: 480px;
	-webkit-box-shadow: 5px -1px 5px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 5px -1px 5px 0px rgba(0,0,0,0.33);
	box-shadow: 5px -1px 5px 0px rgba(0,0,0,0.33);


	.destaqueImagem{
		width: 150px;
		height: 150px;
		left: 95px;
		position: relative;
		margin-top: 93px;
	}

	.tituloDestaque{
		font-family: $fontePadrao;
		font-size: 30px;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 24px;
		color: #ffffff;
		line-height: 36px;
		font-weight: bold;
	}

	.fundoTexto{

		background: #a13a2c;
		padding-bottom: 15px;
		padding-left: 30px;
		padding-right: 30px;


		&:before{
			bottom: 34px;
			position: relative;
			content: "";
			width: 0;
			/* height: 0; */
			border-style: solid;
			border-width: 0 15px 20px 15px;
			border-color: transparent transparent #a13a2c transparent;
			left: 129px;
		}

		.textoDestaque{
			font-family: $fontePadrao;
			font-size: 15px;
			width: 100%;
			text-align: center;
			line-height: 20px;
			color: #ffffff;
			font-weight: normal;
		}
	}
	
}

