@-webkit-keyframes transLightSpeedIn {
  /* line 8, ../sass/trans/lightSpeed.scss */
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 9, ../sass/trans/lightSpeed.scss */
  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 10, ../sass/trans/lightSpeed.scss */
  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 11, ../sass/trans/lightSpeed.scss */
  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes transLightSpeedIn {
  /* line 15, ../sass/trans/lightSpeed.scss */
  0% {
    -moz-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 16, ../sass/trans/lightSpeed.scss */
  60% {
    -moz-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 17, ../sass/trans/lightSpeed.scss */
  80% {
    -moz-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 18, ../sass/trans/lightSpeed.scss */
  100% {
    -moz-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@-o-keyframes transLightSpeedIn {
  /* line 22, ../sass/trans/lightSpeed.scss */
  0% {
    -o-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 23, ../sass/trans/lightSpeed.scss */
  60% {
    -o-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 24, ../sass/trans/lightSpeed.scss */
  80% {
    -o-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 25, ../sass/trans/lightSpeed.scss */
  100% {
    -o-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

@keyframes transLightSpeedIn {
  /* line 29, ../sass/trans/lightSpeed.scss */
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  /* line 30, ../sass/trans/lightSpeed.scss */
  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  /* line 31, ../sass/trans/lightSpeed.scss */
  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  /* line 32, ../sass/trans/lightSpeed.scss */
  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

/* line 35, ../sass/trans/lightSpeed.scss */
.transLightSpeedIn {
  -webkit-animation-name: transLightSpeedIn;
  -moz-animation-name: transLightSpeedIn;
  -o-animation-name: transLightSpeedIn;
  animation-name: transLightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes transLightSpeedOut {
  /* line 49, ../sass/trans/lightSpeed.scss */
  0% {
    -webkit-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 50, ../sass/trans/lightSpeed.scss */
  100% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@-moz-keyframes transLightSpeedOut {
  /* line 54, ../sass/trans/lightSpeed.scss */
  0% {
    -moz-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 55, ../sass/trans/lightSpeed.scss */
  100% {
    -moz-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@-o-keyframes transLightSpeedOut {
  /* line 59, ../sass/trans/lightSpeed.scss */
  0% {
    -o-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 60, ../sass/trans/lightSpeed.scss */
  100% {
    -o-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@keyframes transLightSpeedOut {
  /* line 64, ../sass/trans/lightSpeed.scss */
  0% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  /* line 65, ../sass/trans/lightSpeed.scss */
  100% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

/* line 68, ../sass/trans/lightSpeed.scss */
.transLightSpeedOut {
  -webkit-animation-name: transLightSpeedOut;
  -moz-animation-name: transLightSpeedOut;
  -o-animation-name: transLightSpeedOut;
  animation-name: transLightSpeedOut;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
